In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import os

In [2]:
ecar_df = pd.read_csv("./Database/Cheapestelectriccars-EVDatabase.csv")
ecar_df.head()

,Name,Subtitle,Acceleration,TopSpeed,Range,Efficiency,FastChargeSpeed,Drive,NumberofSeats,PriceinGermany,PriceinUK
0,Opel Ampera-e,Battery Electric Vehicle | 58 kWh,7.3 sec,150 km/h,335 km,173 Wh/km,210 km/h,Front Wheel Drive,5,"€42,990",NaN
1,Renault Kangoo Maxi ZE 33,Battery Electric Vehicle | 31 kWh,22.4 sec,130 km/h,160 km,194 Wh/km,-,Front Wheel Drive,5,NaN,"£31,680"
2,Nissan Leaf,Battery Electric Vehicle | 36 kWh,7.9 sec,144 km/h,220 km,164 Wh/km,230 km/h,Front Wheel Drive,5,"€29,990","£25,995"
3,Audi e-tron Sportback 55 quattro,Battery Electric Vehicle | 86.5 kWh,5.7 sec,200 km/h,375 km,231 Wh/km,600 km/h,All Wheel Drive,5,NaN,"£79,900"
4,Porsche Taycan Turbo S,Battery Electric Vehicle | 83.7 kWh,2.8 sec,260 km/h,390 km,215 Wh/km,860 km/h,All Wheel Drive,4,"€186,336","£138,830"

In [3]:
print(ecar_df.columns.tolist())

['Name', 'Subtitle', 'Acceleration', 'TopSpeed', 'Range', 'Efficiency', 'FastChargeSpeed', 'Drive', 'NumberofSeats', 'PriceinGermany', 'PriceinUK']

In [4]:
#Clean the blank spaces
ecar_df = ecar_df.fillna('0')
#Create a new column
ecar_df.insert(loc=0, column="Manufacturer", value=ecar_df.Name.str.split(' ', n=1, expand=True)[0])

In [5]:
ecar_df.dtypes

Manufacturer       object
Name               object
Subtitle           object
Acceleration       object
TopSpeed           object
Range              object
Efficiency         object
FastChargeSpeed    object
Drive              object
NumberofSeats       int64
PriceinGermany     object
PriceinUK          object
dtype: object

In [6]:
#Subtitle column
Subtitle=[]
for item in ecar_df['Subtitle']:
    Subtitle.append(float(item.replace('Battery Electric Vehicle | ','').replace(' kWh','').replace('      ','')))
ecar_df['Subtitle']=Subtitle

In [7]:
#Acceleration column
Acceleration=[]
for item in ecar_df['Acceleration']:
    Acceleration.append(float(item.replace(' sec','')))
ecar_df['Acceleration']=Acceleration

In [8]:
#TopSpeed column
TopSpeed=[]
for item in ecar_df['TopSpeed']:
    TopSpeed.append(int(item.replace(' km/h','')))
ecar_df['TopSpeed']=TopSpeed

In [9]:
#Range column
Range=[]
for item in ecar_df['Range']:
    Range.append(int(item.replace(' km','')))
ecar_df['Range']=Range

In [10]:
#Efficiency column
Efficiency=[]
for item in ecar_df['Efficiency']:
    Efficiency.append(int(item.replace(' Wh/km','')))
ecar_df['Efficiency']=Efficiency

In [11]:
#FastChargeSpeed column
FastChargeSpeed=[]
for item in ecar_df['FastChargeSpeed']:
    FastChargeSpeed.append(int(item.replace(' km/h','').replace('-','0')))
ecar_df['FastChargeSpeed']=FastChargeSpeed

In [12]:
#Clean dataframe
#Remove currency signs
PriceinUK=[]
for item in ecar_df['PriceinUK']:
    PriceinUK.append(int(item.replace('£','').replace(',','')))
ecar_df['PriceinUK']=PriceinUK

PriceinGermany=[]
for item in ecar_df['PriceinGermany']:
    PriceinGermany.append(int(item.replace('€','').replace(',','')))
ecar_df['PriceinGermany']=PriceinGermany

In [13]:
ecar_df = ecar_df.rename(columns={'Name':'Model',
                                  'Subtitle':'Subtitle(kWh)',
                                  'Acceleration':'Acceleration(sec)',
                                  'TopSpeed':'TopSpeed (km/h)',
                                  'Range':'Range(km)',
                                  'Efficiency':'Efficiency(Wh/km)',
                                  'FastChargeSpeed':'FastChargeSpeed(km/h)',
                                  'PriceinGermany':'Pricein€',
                                  'PriceinUK':'Pricein£'
                                 })
ecar_df.head()

,Manufacturer,Model,Subtitle(kWh),Acceleration(sec),TopSpeed (km/h),Range(km),Efficiency(Wh/km),FastChargeSpeed(km/h),Drive,NumberofSeats,Pricein€,Pricein£
0,Opel,Opel Ampera-e,58.0,7.3,150,335,173,210,Front Wheel Drive,5,42990,0
1,Renault,Renault Kangoo Maxi ZE 33,31.0,22.4,130,160,194,0,Front Wheel Drive,5,0,31680
2,Nissan,Nissan Leaf,36.0,7.9,144,220,164,230,Front Wheel Drive,5,29990,25995
3,Audi,Audi e-tron Sportback 55 quattro,86.5,5.7,200,375,231,600,All Wheel Drive,5,0,79900
4,Porsche,Porsche Taycan Turbo S,83.7,2.8,260,390,215,860,All Wheel Drive,4,186336,138830